@model Patient_Registration.Models.Call_LoyaltyPrograms

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="container">
    <h2>Edit Loyalty Programme</h2>
    <hr>
    <div class="border border-warning p-4 rounded-3 col-sm-5">
        <!-- Error Label -->
        <div class="errorLabel" id="divError"></div>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <!-- Row 1: LoyaltyName -->
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <label asp-for="LoyaltyName" class="form-label fw-bold"></label>
                            <input asp-for="LoyaltyName" class="form-control" />
                            <span asp-validation-for="LoyaltyName" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Row 2: LoyaltyDescription -->
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <label asp-for="LoyaltyDescription" class="form-label fw-bold"></label>
                            <input asp-for="LoyaltyDescription" class="form-control" />
                            <span asp-validation-for="LoyaltyDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Row 3: Active -->
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <label asp-for="Active" class="form-label fw-bold"></label>
                            <select name="Active" id="Active" class="form-control" dropzone="true">
                                @if (Model.Active == "true")
                                {
                                    <option selected value="true">True</option>
                                    <option value="false">False</option>
                                }
                                else
                                {
                                    <option value="True">True</option>
                                    <option selected value="False">False</option>
                                }
                            </select>
                            <span asp-validation-for="Active" class="text-danger"></span>
                        </div>
                    </div>
                   
                    
                    <div class="form-group mt-4">
                        <input type="submit" value="Update" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<div>
    <a class="btn btn-warning mt-4 loyaltyEditback btnbacktoList" asp-action="Index">Back to List</a>
</div>

